---
layout: default
title: Download
---
    {% assign processed_first = false %}
    {% for post in site.posts %}
    {% if post.tags contains "release" %}
    <div id="home-toc" class="grid section section-open final">
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      {% if processed_first != true %}
        {% processed_first = true %}
        <p><i>Released on {{post.date}}</i></p>
        {{ post.content }}
      {% endif %}
    </div>
    {% endif %}
  	{% endfor %}
      
    <div id="home-toc" class="grid section section-open final">
      <h4><a href="/release/">Previous versions</a></h4>
    </div>
    
  <script type="text/javascript" src="js/downloads_track.js"></script>
