---
layout: default
title: Download
---
    {% assign opened = false %}
    {% for post in site.posts %}
    {% if post.tags contains "release" %}
    <div id="home-toc" class="grid section section-open final">
      <h2 class="toggle {% if !opened = true %}{% assign opened = true %}open{% else %}closed{% endif %}">{{ post.title }}</h2>
      <div class="toggle-content">
        <p><i>Released on {{post.date}}</i></p>
        {{ post.content }}
      </div>
    </div>
    {% endif %}
  	{% endfor %}
      
    <div id="home-toc" class="grid section section-open final">
      <h4><a href="/release/">Previous versions</a></h4>
    </div>
    
  <script type="text/javascript" src="js/downloads_track.js"></script>
