    <div id="active-help">
      <div id="active-help-dynamic">
        <div class="help-box">
        </div>
        <a href="#" class="close">close</a>
      </div>
    </div>

    <div id="masthead" class="section section-open">

      <div id="links">
        <script type="text/javascript">
            document.write('<FORM METHOD="LINK" ACTION="https://code.google.com/p/simulationcraft/wiki/Downloads?tm=2">');
        </script>
        <noscript><FORM METHOD="LINK" ACTION="https://code.google.com/p/simulationcraft/wiki/Downloads?tm=2"></noscript>
        <INPUT TYPE="submit" VALUE="Download Latest Release" style="padding: 4px"></FORM>

        <a href="https://plus.google.com/118433599130755130238/?prsrc=3"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" width="32" height="32" style="border: 0;"/></a>
      </div>

      <span id="logo"></span>

      <h1><a href="http://code.google.com/p/simulationcraft/">SimulationCraft</a></h1>
      <h2>for World of Warcraft</h2>

      <div class="clear"></div>

      <p>SimulationCraft is a tool to explore combat mechanics in the popular MMO RPG World of Warcraft. It is a multi-player event-driven simulator written in C++ that models raid damage. Increasing class synergy and the prevalence of proc-based combat modifiers have eroded the accuracy of traditional calculators that rely upon closed-form approximations to model very complex mechanics. The goal of this simulator is to close the accuracy gap while maintaining a performance level high enough to calculate relative stat weights to aid gear selection.</p>
            

    </div>