---
layout: default
title: Download
---
    {% assign processed_first = false %}
    <div id="home-toc" class="grid section section-open final">
       <h2>Simulationcraft nightly builds</h2>
       <p>
         <a href="http://downloads.simulationcraft.org/?C=M;O=D">Simulationcraft nightly builds are
         found here</a>
       <p>
       <h3>Nightly build notes</h3>
       <p>
         Simulationcraft nightly builds are created on a semi-regular schedule (roughly every day)
         for both Windows and MacOS. The nightly builds in the link above are always at the top of
         the listing (the list is sorted by descending date).

         The nightly builds contain a git commit hash of the source that was used to build the release.
         For example, <strong>simc-720-01-nightly-osx-x86-5d1a8e17c.dmg	</strong> was built from the
         sources that contain all code up to <a
            href="https://github.com/simulationcraft/simc/commit/5d1a8e17c">this commit</a>.
      </p>
    </div>
    {% for post in site.posts %}
    {% if post.tags contains "release" %}
    <div id="home-toc" class="grid section section-open final">
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      {% if processed_first != true %}
        {% assign processed_first = true %}
        <p><i>Released on {{ post.date | date_to_string }}</i></p>
        {{ post.content }}
      {% endif %}
    </div>
    {% endif %}
  	{% endfor %}
      
    <div id="home-toc" class="grid section section-open final">
      <h4><a href="http://downloads.simulationcraft.org/">Previous versions</a></h4>
    </div>
   <div id="home-toc" class="grid section section-open final">
      <h4><a href="http://simc.heroicstrike.org/">Previous versions - Before Legion</a></h4>
    </div>
