---
layout: default
title: Download
---
    {% assign processed_first = false %}
    {% for post in site.posts %}
    {% if post.tags contains "release" %}
    <div id="home-toc" class="grid section section-open final">
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      {% if processed_first != true %}
        {% assign processed_first = true %}
        <p><i>Released on {{ post.date | date_to_string }}</i></p>
        {{ post.content }}
      {% endif %}
    </div>
    {% endif %}
  	{% endfor %}
      
    <div id="home-toc" class="grid section section-open final">
      <h4><a href="http://downloads.simulationcraft.org/">Previous versions</a></h4>
    </div>
   <div id="home-toc" class="grid section section-open final">
      <h4><a href="http://simc.heroicstrike.org/">Previous versions - Before Legion</a></h4>
    </div>